*.ts  linguist-detectable=true linguist-language=TypeScript
*.tsx linguist-detectable=true linguist-language=TypeScript
*.html linguist-language=HTML linguist-detectable=true
*.java linguist-language=Java linguist-detectable=true
